*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: black;
}



.for-will
{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /*display: flex;*/
    color: red;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.will
{
    border-radius: 20px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: grid;
	/*grid-template-columns: 1fr 1fr;*/
	gap: 5px;
}


.for-container
{
    color: red  ;
    
}


h1
{
    color: white;
    text-align: center;
    padding: 20px;
}